html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    outline: 0;
    background-color: #C48D6F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.widget-2 {
    width: 373px;
    overflow-y: auto;
    border-radius: 7px;
    
}
.widget-2:hover {
    box-shadow: 5px 5px #E26F4D;
    transition: box-shadow 0.3s ease-in-out;
}
.widget-2 .heading .hed-img  {
  	width:373px;
    height:204px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
 }

.transition {
    -webkit-transform: scale(1.4); 
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
}

.widget-2 .content {
    padding:24px 20px;
  	background-color: white;
    height:140px;
    position: relative;
}
.widget-2 .content img.profile-photo {
    width: 88px;
    height: 88px;
    padding: 5px;
    border: 1px solid #D8D4CF;
    border-radius: 50%;
    float:left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.widget-2 .content h1 {
    width: 230px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 33px;
    color: #8E8071;
    /*text-transform: uppercase;*/
    position: absolute;
    top: 35px;
    left: 125px;
    float:left;
    margin-left: 17px;
    margin-right:20px;
}
.widget-2 .content p {
    width: 215px;
    font-family: 'Cabin', sans-serif;
    font-size: 11px;
    color: #8E8071;
    position: absolute;
    top: 75px;
    left: 125px;
    margin-left: 17px;
    margin-right:20px;

}

/*footer design*/
.widget-2 .secondary ul {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#F6F1ED;

}
.widget-2 .secondary li{
    float:left;
    width:123px;
    
} 
.widget-2 .secondary li a {
    
    display: block;
    color: #B1A599;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.widget-2 .secondary li a:hover{
    color: #E26F4D;
    font-weight: bold;
}


